.slide-btn-gallery {
    width: 48px;
    height: 48px;
    font-size: 32px;
    top: 50%;
}

.slide-btn-gallery:hover {
    font-size: 42px;
}

.prev-gallery {
    left: -48px;
}

.next-gallery {
    right: -48px;
}